body {
    font-family: arial, sans-serif;
    background-color: #C3DDDD;
}
header {
    width: 80%;
     background-color: rgb(189, 189, 176);
     color: white;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 10px;      
}