
    body {
    font-family: arial, sans-serif;
    background-color: #C3DDDD;
}

header {
     width: 80%;
      background-color: blue;
      color: white;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 10px;      
}

section {
     width: 80%;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      border-width: 5px;
      border-style: solid;
      border-color: #094462;
      padding: 5px;

}

footer {
     width: 80%;
      background-color: #094462;
      color: white;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
}